MyStoreApp/MyApp/Service References/MyService/dbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="SaveDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="dbServiceSoap">
    <wsdl:operation name="SaveData">
      <wsdl:input message="tns:SaveDataSoapIn" />
      <wsdl:output message="tns:SaveDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input message="tns:DeleteDataSoapIn" />
      <wsdl:output message="tns:DeleteDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbServiceSoap" type="tns:dbServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://tempuri.org/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dbServiceSoap12" type="tns:dbServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap12:operation soapAction="http://tempuri.org/SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap12:operation soapAction="http://tempuri.org/DeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dbService">
    <wsdl:port name="dbServiceSoap" binding="tns:dbServiceSoap">
      <soap:address location="http://localhost:3159/dbService.asmx" />
    </wsdl:port>
    <wsdl:port name="dbServiceSoap12" binding="tns:dbServiceSoap12">
      <soap12:address location="http://localhost:3159/dbService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>